# UI
streamlit>=1.30.0

# LLM Libraries
openai>=1.10.0
google-generativeai>=0.8.0
autogen
autogen-agentchat

# Data Processing
beautifulsoup4
jieba
gensim
numpy>=1.26.0
nltk
pymupdf
pandas
scikit-learn
torch>=1.13.0
transformers>=4.35.0

# Visualization
matplotlib
plotly
wordcloud
